<h1>Administración de Comparendos</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Registrar Comparendo</a>
<table class="table table-striped">
    <caption>Listado de todos los comparendos registrados en el sistema</caption>
    <thead>
        <tr>
            <th style="width: 30%">id</th>
            <th style="width: 40%">Posibles Infractores</th>
            <th style="width: 40%">Agentes</th>
            <th style="width: 40%">Categorias</th>
            <th style="width: 40%">Fecha/Hora</th>
            <th style="width: 40%">Pago</th>
            <th style="width: 30%">Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of comparendos">
            <td>{{item.id}}</td>
            <td>{{item.posibles_infractoresId}}</td>
            <td>{{item.agentesId}}</td>
            <td>{{item.categoriasId}}</td>
            <td>{{item.fecha}}</td>
            <td></td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{item.id}}" class="btn btn-sm btn-primary mr-1">Editar</a>
                <button (click)="eliminar(item.id)" class="btn btn-sm btn-danger btn-delete-user"
                    [disabled]="item.isDeleting">
                    <span *ngIf="item.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!item.isDeleting">Eliminar</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!comparendos">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>